<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaojun.yaodiandemo">

    <application
        android:name=".MyAppLaction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ShouYeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ShuaShenFenZhenActivity" />
        <activity android:name=".ui.GouMaiActivity" />
        <activity
            android:name=".ui.ShuaLianActivity"
            android:label="@string/title_activity_shua_lian"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ErWeiMaActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".ui.ShuaYaoActivity" />
        <activity android:name=".ui.ShuaChuFangActivity"></activity>
    </application>

</manifest>